<div class="wwn game-license">
  <p class="wwn game-license">
    This unofficial system requires Worlds Without Number, available from Sine Nomine Publishing.
  </p>
  <p>
    Worlds Without Number is a trademark of Sine Nomine Publishing.
  </p>
  <p>
    Purchase your copy on <a href="https://www.drivethrurpg.com/product/348791/Worlds-Without-Number">DrivethruRPG</a> or purchase the <a href="https://sine-nomine-publishing.myshopify.com/collections/offset-print-books/products/worlds-without-number-offset-print">Offset Print Edition</a> while supplies last. The author of this Foundry system receives no money from purchases made through these links.
  </p>
  <p>
      Brought to life on Foundry VTT by SobranDM.
  </p>
  <!-- <div class="button">
    <a href="https://ko-fi.com/H2H21WMKA" target="_blank"
    ><img
      height="36"
      style="border: 0px; height: 28px;"
      src="https://cdn.ko-fi.com/cdn/kofi2.png?v=2"
      border="0"
      alt="Buy Me a Coffee at ko-fi.com"
  /></a>
  </div> -->
  <div class="footer">
      Report your issues on <a href="https://gitlab.com/sobran/foundryvtt-wwn/-/issues">Gitlab</a>
  </div>
</div>
