<section class="inventory" data-base-size="310">
  <div class="flexrow">
    <div class="flex2">
      <li class="item-titles flexrow">
        <div class="item-caret"><i class="fas fa-caret-down"></i></div>
        <div class="item-name">{{localize "WWN.spells.Arts"}}</div>
        <div class="field-long" title="{{localize 'WWN.spells.ArtSourceHint'}}">{{localize "WWN.spells.ArtSource"}}
        </div>
        <div class="field-short" title="{{localize 'WWN.spells.Effort'}}{{localize 'WWN.spells.Committed'}}">
          {{localize "WWN.spells.Effort"}}</div>
        <div class="field-short" title="{{localize 'WWN.spells.TimeHint'}}">{{localize "WWN.spells.Time"}}</div>
        <div class="item-controls">
          <a class="item-control item-create" data-type="art" title="{{localize 'WWN.Add'}}"><i
              class="fa fa-plus"></i></a>
        </div>
      </li>
      <ol class="item-list">
        {{#each owned.arts as |art|}}
        <li class="item-entry">
          <div class="item flexrow" data-item-id="{{art.id}}">
            <div class="item-name item-rollable flexrow">
              <div class="item-image" style="background-image: url({{img}})"></div>
              <a>
                <h4 title="{{art.name}}">
                  {{art.name~}}
                </h4>
              </a>
            </div>
            <div class="field-long artSource">
              <input value="{{art.data.data.source}}" type="text" placeholder="High Mage" />
            </div>
            <div class="field-short artEffort">
              <input value="{{art.data.data.effort}}" type="number" data-dtype="Number" />
            </div>
            <div class="field-short artTime">
              <input value="{{art.data.data.time}}" type="text" />
            </div>
            <div class="item-controls">
              <!-- {{#if ../owner}} -->
              <a class="item-control item-edit" title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a>
              <!-- {{/if}} -->
            </div>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
    <div>
      <li class="item-titles flexrow spell-resources">
        <div class="item-name">{{localize "WWN.spells.Resources"}}</div>
        <div class="field-short">{{localize "WWN.spells.Current"}}</div>
        <div class="field-short">{{localize "WWN.Max"}}</div>
      </li>
      <ol class="item-list">
        {{#if data.classes.effort1.name}}
        <li class="item-entry">
          <div class="item flexrow">
            <div class="item-name flexrow spell-resources">{{data.classes.effort1.name}} {{localize 'WWN.spells.Effort'}}</div>
            <div class="field-short"></div>
            <div class="field-short">
              <input name="data.classes.effort1.value" type="number" value="{{data.classes.effort1.value}}"
                data-dtype="Number" disabled />
            </div>
            <div class="field-short">
              <input name="data.classes.effort1.max" type="number" value="{{data.classes.effort1.max}}"
                data-dtype="Number" />
            </div>
        </li>
        {{/if}}
        {{#if data.classes.effort2.name}}
        <li class="item-entry">
          <div class="item flexrow">
            <div class="item-name flexrow">{{data.classes.effort2.name}} {{localize 'WWN.spells.Effort'}}</div>
            <div class="field-short"></div>
            <div class="field-short">
              <input name="data.classes.effort2.value" type="number" value="{{data.classes.effort2.value}}"
                data-dtype="Number" disabled />
            </div>
            <div class="field-short">
              <input name="data.classes.effort2.max" type="number" value="{{data.classes.effort2.max}}"
                data-dtype="Number" />
            </div>
        </li>
        {{/if}}
        {{#if data.classes.effort3.name}}
        <li class="item-entry">
          <div class="item flexrow">
            <div class="item-name flexrow">{{data.classes.effort3.name}} {{localize 'WWN.spells.Effort'}}</div>
            <div class="field-short"></div>
            <div class="field-short">
              <input name="data.classes.effort3.value" type="number" value="{{data.classes.effort3.value}}"
                data-dtype="Number" disabled />
            </div>
            <div class="field-short">
              <input name="data.classes.effort3.max" type="number" value="{{data.classes.effort3.max}}"
                data-dtype="Number" />
            </div>
        </li>
        {{/if}}
        {{#if data.classes.effort4.name}}
        <li class="item-entry">
          <div class="item flexrow">
            <div class="item-name flexrow">{{data.classes.effort4.name}} {{localize 'WWN.spells.Effort'}}</div>
            <div class="field-short"></div>
            <div class="field-short">
              <input name="data.classes.effort4.value" type="number" value="{{data.classes.effort4.value}}"
                data-dtype="Number" disabled />
            </div>
            <div class="field-short">
              <input name="data.classes.effort4.max" type="number" value="{{data.classes.effort4.max}}"
                data-dtype="Number" />
            </div>
        </li>
        {{/if}}
        <li class="item-entry">
          <div class="item flexrow">
            <div class="item-name flexrow">{{localize 'WWN.spells.TotalPrepared'}}</div>
            <div class="field-short"></div>
            <div class="field-short">
              <input name="data.spells.prepared.value" type="number" value="{{data.spells.prepared.value}}"
                data-dtype="Number" disabled />
            </div>
            <div class="field-short">
              <input name="data.spells.prepared.max" type="number" value="{{data.spells.prepared.max}}"
                data-dtype="Number" />
            </div>
        </li>
        <li class="item-entry">
          <div class="item flexrow">
            <div class="item-name flexrow">{{localize 'WWN.spells.Slots'}}</div>
            <div class="field-short"></div>
            <div class="field-short">
              <input name="data.spells.perDay.value" type="number" value="{{data.spells.perDay.value}}"
                data-dtype="Number" />
            </div>
            <div class="field-short">
              <input name="data.spells.perDay.max" type="number" value="{{data.spells.perDay.max}}"
                data-dtype="Number" />
            </div>
        </li>
    </div>
  </div>
</section>
<section class="inventory spells" data-base-size="320">
  <div class="item-titles flexrow" style="line-height:15px">
    <div class="item-name">{{localize "WWN.category.spells"}}</div>
    <div class="item-controls">
      <a class="item-control item-reset" title='{{localize "WWN.spells.ResetSlots"}}'><i class="fas fa-sync"></i></a>
      <a class="item-control item-create" data-type="spell" title="{{localize 'WWN.Add'}}"><i
          class="fa fa-plus"></i></a>
    </div>
  </div>
  <div class="spells">
  {{#each spells as |spellGroup id|}}
  <div class="spells-parent">
    <li class="item-titles flexrow">
      <div class="item-caret"><i class="fas fa-caret-down"></i> </div>
      <div class="item-name">{{localize "WWN.spells.Level"}} {{id}}</div>
      <div class="item-controls">
        <a class="item-control item-create" data-type="spell" data-lvl="{{id}}" title="{{localize 'WWN.Add'}}"><i
            class="fa fa-plus"></i></a>
      </div>
    </li>
    <ol class="item-list spells-child">
      {{#each spellGroup as |item|}}
      <li class="item-entry">
        <div class="item flexrow" data-item-id="{{item.id}}">
          <div class="item-name item-rollable flexrow">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <a>
              <h4 title="{{item.name}}">
                {{item.name~}}
              </h4>
            </a>
          </div>
          <div class="item-controls">
            {{#if ../../owner}}
            <a class="item-control item-prep {{#unless item.data.data.prepared}}item-unprepared{{/unless}}"
              title='{{localize "WWN.spells.Prepared"}}'>
              <i class="fas fa-brain"></i></a>
            <a class="item-control item-show" title='{{localize "WWN.Show"}}'><i class="fas fa-eye"></i></a>
            <a class="item-control item-edit" title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
  {{/each}}
  </div>
</section>