<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-col">
      <div class="flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{name}}" placeholder="Name" />
        </h1>
        <div class="details">
          <div class="form-group">
            <label title="{{localize 'WWN.details.level'}}"><i class="fas
              fa-level-up-alt"></i></label>
            <div class="form-fields">
              <input type="text" name="data.ownedLevel" value="{{data.ownedLevel}}" data-dtype="Number" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="sheet-body">
      <div class="description resizable-editor">
        {{editor content=data.description target="data.description" button=true
        owner=owner editable=editable}}
      </div>
  </section>
</form>